{% extends 'base.html.twig' %}

{% block title %}Progeo{% endblock %}

{% block body %}
       <h1>Cadastro Progeo</h1>
    <h1>Criando novo cliente</h1>

    <table border="1px" cellpadding="5px" cellspacing="2" >
        <thead>
        
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>ENDEREÇO</th>
                <th>LATITUDE</th>
                <th>LONGITUDE</th>
                <th>CPF</th>
                <th>EMAIL</th>
                <th>DATA DE ANIVERÁRIO</th>
                <th>SENHA</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nome }}</td>
                <td>{{ client.endereco }}</td>
                <td>{{ client.latitude }}</td>
                <td>{{ client.longitude }}</td>
                <td>{{ client.cpf }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.aniversario }}</td>
                <td>{{ client.senha }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}" >Mostrar</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <br>

    <a href="{{ path('client_new') }}"  >Criar Novo Cliente</a>
    <h1>Google Maps</h1>

  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
   
    <style>

             body {
                        background-color: lightblue;
                        
                    }



          h1, a { 
            text-align:center; 
     }

          #map {
            height: 80%;
      }
        

      
            html, body {
        
            height: 90%;
            margin: 20;
            padding: 20;
      }

      a {
    
        font-size: 20px;
       
      }
      a:hover {
        background-color: #1c87c9;
      }
      a:active {
        background-color: #1c87c9;
      }
      



      
    </style>
  </head>

<html>
  <body>
    <div id="map"></div>

    <script>
      var customLabel = {
        restaurant: {
          label: 'R'
        },
        bar: {
          label: 'B'
        }
      };

        function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(-2.527662, -44.307743),
          zoom: 16
        });
        var infoWindow = new google.maps.InfoWindow;

          
          downloadUrl('Client.php', function(data) {
            var xml = data.responseXML;
            var markers = xml.documentElement.getElementsByTagName('marker');
            Array.prototype.forEach.call(markers, function(markerElem) {
              var id = markerElem.getAttribute('id');
              var name = markerElem.getAttribute('name');
              var address = markerElem.getAttribute('address');
              var type = markerElem.getAttribute('type');
              var point = new google.maps.LatLng(
                  parseFloat(markerElem.getAttribute('lat')),
                  parseFloat(markerElem.getAttribute('lng')));

              var infowincontent = document.createElement('div');
              var strong = document.createElement('strong');
              strong.textContent = name
              infowincontent.appendChild(strong);
              infowincontent.appendChild(document.createElement('br'));

              var text = document.createElement('text');
              text.textContent = address
              infowincontent.appendChild(text);
              var icon = customLabel[type] || {};
              var marker = new google.maps.Marker({
                map: map,
                position: point,
                label: icon.label
              });
              marker.addListener('click', function() {
                infoWindow.setContent(infowincontent);
                infoWindow.open(map, marker);
              });
            });
          });
        }



      function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

        request.onreadystatechange = function() {
          if (request.readyState == 4) {
            request.onreadystatechange = doNothing;
            callback(request, request.status);
          }
        };

        request.open('GET', url, true);
        request.send(null);
      }

      function doNothing() {}
    </script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKOkTVY76k4_uA41_cnzKnXXcFdzc015A&callback=initMap">
    </script>
  </body>
</html>
    <h2>Fim</h2>
  
    
{% endblock %}
